# macOS
.DS_Store

# Xcode
*.xcuserdatad/
xcuserdata/

# Derived data & build artifacts
DerivedData/
build/

# Swift Package Manager
.build/
.swiftpm/

# User-specific workspace data
*.xcworkspace/xcuserdata/
